<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="icon/favicon.ico">
    <title>Kenlin Guo's website</title>
</head>

<body>
    <!-- left column -->
    <div class="navagation">
        <div>
            <p id="name"><b>Kenlin Guo</b> </p>
        </div>
        <ul>
            <li id="resume"><a href="/resume">Resume</a></li>
            <li id="projects"><a href="#">Projects</a></li>
            <li id="contact"><a href="#">Contact</a></li>
        </ul>
    </div>

    <!-- right column -->

</body>

</html>