<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kenlin Guo's resume</title>
    <link rel="stylesheet" href="/css/resume.css">
</head>

<body>
    <h1 id="name">Kenlin Guo</h1>

    <section id="contact">
        <p class="address">13500 Copper Croft Run, Apt I, Blacksburg, VA 24060
            *<a href="mailto:kenling@vt.edu">kenling@vt.edu</a>
            *<a href="tel:+5419415219">(541)941-5219</a>
        </p>
        <p>Github: <a
                href="https://github.com/guokenlin1?tab=repositories">https://github.com/guokenlin1?tab=repositories</a>
        </p>
    </section>
    <p class="goal">
        <span class="bold">Objective:</span> Looking for summer internship 2021 in the field of software development
    </p>
    <section id="education">
        <h3 class="subheading">Education:</h3>
        <div id="College-info">
            <span class="bold">Virginia Tech</span><br>
            <img id="VT-logo" src="/vt_logo.png" alt="VT logo"><br>

            <span id="school-address">Blacksburg Virginia(Expected graduation: May 2022)</span><br>
            <ul id="major-info">
                <li>B.S Computer Science</li>
                <li>Virginia Tech Dean's List 2019</li>
                <li>In major GPA: 3.6/4.0</li>
            </ul>
        </div>

    </section>

    <section id="experience">
        <h3 class="subheading">Related Experience:</h3>
        <ul id="activty-list">
            <li class="activity">Intro to GUI Programming and Graphics, personal website
            </li>
            <ul class="experience-description">
                <li>Build a personal website with a personalied online resume</li>
                <li>Using HTML, CSS, JavaScript</li>
            </ul>
            <li class="activity"> VT-Association of Chinese Students and Scholar</li>
            <ul class="experience-description">
                <li> Member of Department of Network</li>
            </ul>
            <li class="activity">Hokie Mentorship Connect</li>
            <ul class="expreience-description">
                <li>Answer people's questions about the study of Computer Science in VT</li>
                <li>Connect with other members who are VT alumni</li>
            </ul>
            <li class="activity">Des & Data Structures, Music Preference Visualization project</li>
            <ul class="experience-description">
                <li>Team of three designed and coded in Java and used version control with Gitlab</li>
                <li>Coded backend from scrach and used Java Swing for front end</li>
            </ul>
            <li class="activity">Studied abroad in Seoul National University, South Korea</li>
            <ul class="experience-description">
                <li>Learned R language and RStudio in Data Science class</li>
                <li>Completed a final proejct which using data and graph function in RStudio to analyze if the
                    investment on education improve people's average income</li>
            </ul>
            <li class="activity">Tower of Hanoi</li>
            <ul class="experience-description">
                <li>A desktop application which solves Tower of Hanoi automatically</li>
                <li>Used Java Swing to visualized the process</li>
            </ul>
            <li class="activity">VT Food Truck Cashier System</li>
            <ul class="experience-description">
                <li>Designed a front-end and back-end of a cashier system using UML</li>
            </ul>
            <li class="activity">Foundation of Engineering, Drone project</li>
            <ul class="experience-description">
                <li>Made a program using MATLAB which can estimate how far the drone we design can fly based on factors
                    like
                    weight and length</li>
            </ul>
        </ul>
    </section>

    <section id="competitions">
        <h3 class="subheading">Competitions:</h3>
        <ul id="competition-list">
            <li class="competition">EY Design Spring competition participant Nov 2019</li>
            <ul class="competition-description">
                <li>Learned design thinking and used it to solve amusement parking problem</li>
            </ul>
            <li class="competition">PWC Case Competition</li>
            <ul class="competition-description">
                <li>Made a presentation as teamd of five about the avalysis of advantages and disadvantages of
                    acquireing a company</li>
                <li>Priveded opinions from a perspective of software developer</li>
            </ul>
            <li class="competition">Bloomberg CodeCon</li>
            <ul class="competition-description">
                <li>Solved problemds related to algorithm using Java</li>
            </ul>
        </ul>
    </section>
    <section id="skill">
        <h3 class="subheading">Skills:</h3>
        <div class="skill-table">
            <ul class="list-column1">
                <li>Java</li>
                <li>Python</li>
                <li>C</li>
                <li>MATLAB</li>
            </ul>
            <ul class="list-column2">
                <li>LaTeX</li>
                <li>Mysql</li>
                <li>Git</li>
                <li>Docker</li>
            </ul>

            <ul class="list-column3">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
            </ul>

            <ul class="list-column4">
                <li>Chinese Language</li>
                <li>Linux</li>
                <li>Nodejs</li>
                <li>MongoDB</li>

            </ul>
        </div>

    </section>
</body>

</html>