body {
    background-color: rgb(87, 144, 146);
    
  }
  
  .navagation {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
    padding-left: 50px;
    margin-top:10%;
    width: 50%;
    height: 500px;
  }
  
  li {
    padding: 10px;
    padding-bottom: 30px;
  }
  
  a {
    color: black;
  }
  
  #name {
    padding-left: 20px;
    padding-bottom: 20px;
    
  }
  